/*page génaration carte */
#main{
	display: flex;
	flex-direction: row;
}

body {
	min-height: 75rem;
	padding-top: 4.5rem !important;
}

#ui_container {
	min-width: 422px;
	min-height: 900px;
	box-shadow: 10px 10px 20px rgba (0, 0, 0, 0.07);
} 

#map_container {
   background-image: url('../img/grid.png');
   min-height: 900px;
   width: 100%;
   display: flex;
   flex-direction: column;
}

.slide {
    position: absolute;
    width: 422px;
    height: 650px;
    top: 0;
    left: 0;
    
}

.button_container {
	margin-top: 765px;
	text-align: center;
	z-index: 2;
}

.le_button {
	width: 40px;
	height: 40px;
	background-color: #2dc398;
	display: inline-block;
}

.submit-container {
	margin-top: 20px;
	text-align: center;
	min-width: 100%,
}

#adresse, #radio  {
	margin-top: 100px;
}

#range, #topo {
	margin-top: 25px;
}

.form-unit { 
	margin-left: 30px;
	margin-right: 30px;
}

.custom-checkbox, .custom-radio, .relief{
	margin-left: 100px;
}

.relief, .format {
	font-size: 10px;
}

.relief {
	margin-bottom: 15px;
}

.newsletter {
	display: flex;
	flex-direction: row;
}

#in_newsletter {
	width: 300px;
}


/* page cartes prégénérées */

.cartespregen {
	margin-top: 50px;
}

.o-teasers__item_links {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.o-teasers__item_links .o-teasers__btn {
	margin-bottom: 15px;
}

.o-teasers--3by3 {
	margin-bottom: 30px;
}

/*Acceuil*/

.main_acc {
	background-color: grey;
	background-size: cover;
	height: 821px;
	margin-bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;

}

.main_container {
	display: flex;
	background-color: #FFFFFF;
	height: auto;
	width: 70%;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
}

#titlemargin {
	margin-top: 30px;
}

.steps {
	display: flex;
	flex-direction: row;
	min-width: 660px;
}

.lign {
	min-width: 220px;
	border: 3px solid rgba(71, 42, 214, 0.06);
	height: 0px;
	margin-top: 8px;
}

.o-teaser__lead {
	text-align: center;
}

.number {
	width: 24px;
	height: 24px;
	border-radius: 20px;
	background-color: #2DC398;
	color: white;
	font-weight: bolder;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top :22px;
}

.step .o-teaser__title {
	text-align: center;
	font-size: 15px;
	margin-top: 10px;
}

.step .m-teaser-site__lead {
	text-align: center;
	max-width: 210px;
}

.img_step {
	max-width: 210px;
	margin-left: 5px;
}

.text_generation {
	background-color: #EDECF2;
	max-width: 660px;
	margin-bottom:30px;
}

.text_generation .m-teaser-site__lead {
	text-align: center;
}

.m-teaser-site__lead span {
	font-weight: bolder;
}

.submit_padding {
	margin-bottom: 40px;
}

/*modal "dernière étape*/

#derniere_etape_container, #merci_container, #error_modal{
	position: fixed;
	left: 0px;
	top:0px;
	background-color: rgba(0,0 ,0 , 0.5);
	width: 100%;
	height: 100%;
	z-index:1;
}

#derniere_etape_content, #merci_content, #error_content {
	background-color:#FFFFFF;
	margin:10% auto;
	width: 550px;
	margin-top: 150px;
}

#derniere_etape_content{
	height: 500px;
}

#merci_content{
	height: 300px;
}

.form_modal {
	margin-left: 20px;
	margin-right: 20px;
}

.modal_content_wrapper {
	padding-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	padding-bottom: 10px;
}

.modal_button {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.button_cust {
	width: 150px;
	height: 40px;
	background-color: #DBD9D7;
	margin-top:20px;
}

#age_moins15 {
	display:none;
}

/*modal erreur */

/* voir derniere_etape_container, #merci_container */
#error_modal {
	display: none;
}

.error {
	color: red;
	display: inline-block;
	text-align: center;
	width: 100%;
}

/*modal slider value*/
#slider_value {
	display:none;
	background-color:#000000;
	color:white;
	border-radius: 5px;
	position: absolute;
}

/*modals options optinnelles*/
.optional_option {
	display:none;
	background-color:#FFFFFF;
	border: 2px solid;
	position: absolute;
	width: 300px;
	z-index: 2;
}

.button_optional {/*voir .modal_button*/
	width: 150px;
	height: 40px;
	background-color: #DBD9D7;
	margin-top:20px;
}

.optional_content_wrapper{
	margin: 10px;
}

#check_monde_entier, #check_platform, #check_neige {
	display: none;
	left:300px;
	bottom: 100px;
}

.aleatoire_max_min{
	display:none;
}

#relief{
	/*voir html*/
}

.grandRelief {
	display: none;
}

/*bouton toggle carte/ui */

.btn-group-toggle {
	display: none;
}

@media screen and (max-width: 920px){
/* Acceuil */

	.lign {
		min-width: 190px;
	}

	.img_step {
		max-width: 180px;
	}

	.steps{
		min-width: 550px;
		max-width: 630px;
	}

	.step{
		max-width: 180px;
		margin:3px;
	}
}

@media screen and (max-width: 768px){

/*bouton switch */

.btn-group-toggle {
	display: block;
	position: absolute;
	top: 90px;
	right: 10px;
	background-color: #FFFFFF;

}

.btn-group-toggle {
	background-color: #2dc398;
	}

/* page génaration carte */

	#ui_container {
        display: block;
    }

    #map_container {
        display: none;
    }

/* Acceuil */
	.img_step {
		max-width: 220px;
	}

	.steps {
		flex-direction: column;
		align-items: center;
	}

	.step {
		max-width: 220px;
	}

	.main_acc, .main_container {
		height: auto;
	}

	.main_container {
		margin-top: 90px;
		margin-bottom: 30px;
		width: 100%;
	}

}

@media screen and (max-width: 576px){
	.optional_option{
		width:250px;
	}

	#check_neige, #check_monde_entier, #check_platform {
		left:10px;
		bottom: 100px;
	}

	#merci_content, #error_content {
		width: 250px;
	}

	#derniere_etape_content {
		width:100%;
		height: 100%;
		margin: 0;
	}

	.custom-checkbox, .custom-radio, .relief {
		margin-left:50px;
	}
	


}
